<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electronic</title>

</head>
<body style="background-color: lightblue; padding: 20px;">
{% extends 'base.html' %}
{% load static %}
<link rel="icon" type="image/png" href="{% static 'hidostore.png' %}">
 {% block content %}
<H1>Products </H1>
<div class="row">
    {% for product in products %}
    <div class="col" >
        <div class="card" style="width: 18rem; height: 30rem; margin-top: 2em; padding: 1.8rem 1rem">
      <img src="{{ product.image_url.1 }}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">${{product.price}}</p>
        <a href="{% url 'productDetail' id=product.product_id %}" class="btn btn-primary" >Details</a>


<!--<img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" >-->

      </div>
      </div>
    </div>
      {% endfor %}
</div>




 {% endblock %}
</body>
</html>
